/* [ Responsive ] */
.cf:before, .cf:after	{ content:' '; display: table; }
.cf:after{ clear:both; }
.cf	{ zoom:1;}

.container_12{ font-size: 0; }
.container_12:before, .container_12:after, section:after, section:before, .content-header:before, .content-header:after, .content-footer:before, .content-footer:after, .wrap:before, .wrap:after { content:' '; display: table; }
.container_12:after, section:after, .content-header:after, .content-footer:after, .wrap:after{ clear:both; }

@media only screen and (min-width: 1280px) {

    body{min-width:1200px; width: 100%; }
    .container_12{margin-left:auto;margin-right:auto;width:1200px;}
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin-left:30px;margin-right:30px;}
    .push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12{position:relative;}
    .alpha{margin-left:0;}
    .omega{margin-right:0;}
    .container_12 .grid_1{width:40px;}
    .container_12 .grid_2{width:140px;}
    .container_12 .grid_3{width:240px;}
    .container_12 .grid_4{width:340px;}
    .container_12 .grid_5{width:440px;}
    .container_12 .grid_6{width:540px;}
    .container_12 .grid_7{width:640px;}
    .container_12 .grid_8{width:740px;}
    .container_12 .grid_9{width:840px;}
    .container_12 .grid_10{width:940px;}
    .container_12 .grid_11{width:1040px;}
    .container_12 .grid_12{width:1140px;}
    .container_12 .prefix_1{padding-left:100px;}
    .container_12 .prefix_2{padding-left:200px;}
    .container_12 .prefix_3{padding-left:300px;}
    .container_12 .prefix_4{padding-left:400px;}
    .container_12 .prefix_5{padding-left:500px;}
    .container_12 .prefix_6{padding-left:600px;}
    .container_12 .prefix_7{padding-left:700px;}
    .container_12 .prefix_8{padding-left:800px;}
    .container_12 .prefix_9{padding-left:900px;}
    .container_12 .prefix_10{padding-left:1000px;}
    .container_12 .prefix_11{padding-left:1100px;}
    .container_12 .suffix_1{padding-right:100px;}
    .container_12 .suffix_2{padding-right:200px;}
    .container_12 .suffix_3{padding-right:300px;}
    .container_12 .suffix_4{padding-right:400px;}
    .container_12 .suffix_5{padding-right:500px;}
    .container_12 .suffix_6{padding-right:600px;}
    .container_12 .suffix_7{padding-right:700px;}
    .container_12 .suffix_8{padding-right:800px;}
    .container_12 .suffix_9{padding-right:900px;}
    .container_12 .suffix_10{padding-right:1000px;}
    .container_12 .suffix_11{padding-right:1100px;}
    .container_12 .push_1{left:100px;}
    .container_12 .push_2{left:200px;}
    .container_12 .push_3{left:300px;}
    .container_12 .push_4{left:400px;}
    .container_12 .push_5{left:500px;}
    .container_12 .push_6{left:600px;}
    .container_12 .push_7{left:700px;}
    .container_12 .push_8{left:800px;}
    .container_12 .push_9{left:900px;}
    .container_12 .push_10{left:1000px;}
    .container_12 .push_11{left:1100px;}
    .container_12 .pull_1{left:-100px;}
    .container_12 .pull_2{left:-200px;}
    .container_12 .pull_3{left:-300px;}
    .container_12 .pull_4{left:-400px;}
    .container_12 .pull_5{left:-500px;}
    .container_12 .pull_6{left:-600px;}
    .container_12 .pull_7{left:-700px;}
    .container_12 .pull_8{left:-800px;}
    .container_12 .pull_9{left:-900px;}
    .container_12 .pull_10{left:-1000px;}
    .container_12 .pull_11{left:-1100px;}
    .clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
    .clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
    .clearfix:after{clear:both;}
    .clearfix{zoom:1;}
}

@media only screen and (min-width: 980px) and (max-width: 1279px),
only screen and (min-device-width: 980px) and (max-device-width: 1279px) {
    body{min-width:960px; width: 100%; }
    .container_12{margin-left:auto;margin-right:auto;width:960px;}
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px;}
    .push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11{position:relative;}
    .alpha{margin-left:0;}
    .omega{margin-right:0;}
    .container_12 .grid_1{width:60px;}
    .container_12 .grid_2{width:140px;}
    .container_12 .grid_3{width:220px;}
    .container_12 .grid_4{width:300px;}
    .container_12 .grid_5{width:380px;}
    .container_12 .grid_6{width:460px;}
    .container_12 .grid_7{width:540px;}
    .container_12 .grid_8{width:620px;}
    .container_12 .grid_9{width:700px;}
    .container_12 .grid_10{width:780px;}
    .container_12 .grid_11{width:860px;}
    .container_12 .grid_12{width:940px;}
    .container_12 .prefix_1{padding-left:80px;}
    .container_12 .prefix_2{padding-left:160px;}
    .container_12 .prefix_3{padding-left:240px;}
    .container_12 .prefix_4{padding-left:320px;}
    .container_12 .prefix_5{padding-left:400px;}
    .container_12 .prefix_6{padding-left:480px;}
    .container_12 .prefix_7{padding-left:560px;}
    .container_12 .prefix_8{padding-left:640px;}
    .container_12 .prefix_9{padding-left:720px;}
    .container_12 .prefix_10{padding-left:800px;}
    .container_12 .prefix_11{padding-left:880px;}
    .container_12 .suffix_1{padding-right:80px;}
    .container_12 .suffix_2{padding-right:160px;}
    .container_12 .suffix_3{padding-right:240px;}
    .container_12 .suffix_4{padding-right:320px;}
    .container_12 .suffix_5{padding-right:400px;}
    .container_12 .suffix_6{padding-right:480px;}
    .container_12 .suffix_7{padding-right:560px;}
    .container_12 .suffix_8{padding-right:640px;}
    .container_12 .suffix_9{padding-right:720px;}
    .container_12 .suffix_10{padding-right:800px;}
    .container_12 .suffix_11{padding-right:880px;}
    .container_12 .push_1{left:80px;}
    .container_12 .push_2{left:160px;}
    .container_12 .push_3{left:240px;}
    .container_12 .push_4{left:320px;}
    .container_12 .push_5{left:400px;}
    .container_12 .push_6{left:480px;}
    .container_12 .push_7{left:560px;}
    .container_12 .push_8{left:640px;}
    .container_12 .push_9{left:720px;}
    .container_12 .push_10{left:800px;}
    .container_12 .push_11{left:880px;}
    .container_12 .pull_1{left:-80px;}
    .container_12 .pull_2{left:-160px;}
    .container_12 .pull_3{left:-240px;}
    .container_12 .pull_4{left:-320px;}
    .container_12 .pull_5{left:-400px;}
    .container_12 .pull_6{left:-480px;}
    .container_12 .pull_7{left:-560px;}
    .container_12 .pull_8{left:-640px;}
    .container_12 .pull_9{left:-720px;}
    .container_12 .pull_10{left:-800px;}
    .container_12 .pull_11{left:-880px;}

    .equal > * { padding-left: 10px; padding-right: 10px; }

    .portfolio{ width: 900px; margin: auto; }
    .portfolio-popup{ margin-left: -480px; }
    .portfolio-popup .slide-nav{ left: 715px; }

    .works-container .mix,
    .works-container.small .mix{ width: 25%; }

    .no-margin-right{ margin-right: 0; }

}

/* if WIDTH (min-width: 760px) and (max-width: 979px) */

@media only screen and (min-width: 760px) and (max-width: 979px),
only screen and (min-device-width: 760px) and (max-device-width: 979px) {

    body{min-width:720px;}

    .lang{ margin-right: 12rem; }

    .img,
    .img figure { height: 161px; width: 161px; }

    .portfolio{ width: 600px; margin: auto; }
    .portfolio-popup{ margin-left: -360px; }

    .works-container .mix{ width: 33.33333%; }
}

@media only screen and (max-width: 980px) {
    body{ width: 100%; }
    .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{ margin-bottom: 25px; }
    [class*="grid_"]{ width: 100%; text-align: center; }
    .alpha,.omega{margin-left:0;margin-right:0;}
    .fullslider .aligned.left,
    .fullslider .aligned.right,
    .fullslider [class*="grid_"],
    [class*="grid_"],
    .aligned.left,
    .aligned.right{ text-align: center !important; }

    .slider [class*="grid_"] + [class*="grid_"],
    .fullslider [class*="grid_"] + [class*="grid_"]{ margin-top: 3rem; }

    .container_12{padding-left:3rem; padding-right:3rem;}
    .container_12.equal{ padding-left: 0; padding-right: 0; }
    .fullslider .container_12{padding-left:7rem; padding-right:7rem;}

    .header [class*="grid_"]{ text-align: center !important; margin-bottom: 0; }

    .header > .container_12 > *:nth-child(3){ display: none !important; }
    .menu,
    .separator{ display:none; }
    .slicknav_menu,
    .separator.border,
    .separator.thin{ display:block; }

    .separator.border{ margin-top: 0; margin-bottom: 0; }

    .extendmenu [class*="vpadding-"]{ padding: 40px 0; }

    .opened .logo{ margin-top: 2rem; }
    .scrolling .logo{ margin-top: 0; }
    .scrolling .logo,
    .opened .logo{ position: absolute; top: 0; width: auto; }

    .opened .lang nav{ margin-top: 3.3rem; }
    .lang nav,
    .scrolling .lang nav{ margin-top: 1.2rem; }

    .header.fixed.scrolling [class*="grid_"]:first-child{ float: left !important; width: auto; }
    .header.fixed.scrolling [class*="grid_"]:last-child{ float: right !important; width: auto; }
    .header.fixed.scrolling .menu-btn.button{ margin-top: 1rem !important; }

     .lang{ position: absolute; right: 0; top: 0; float: none !important; margin-right: 3rem; }

    .img,
    .img figure{ height: 150px; width: 150px; }

    .slide-dark-prev,
    .slide-prev{ left: 1.6rem; }
    .slide-dark-next,
    .slide-next{ right: 1.6rem; }

    .logo{ margin-top: 0; }
    .slicknav_btn{ margin-top: 0; margin-right: 11.5rem; }

    .portfolio{ width: 600px; margin: auto; }

    [class*="grid_"] img{ max-width: 100%; margin-bottom: 10px; }
    [class*="grid_"] img:last-child{ margin-bottom: 0; }

    .equal{ padding-top: 0; }

    .slide-arrow{ display: none !important; }
    .popup .slide-arrow{ display: block !important; }

    .wrapper > section:first-child .container_12[class*="vpadding-"],
    .wrapper > section:first-child .wrap[class*="vpadding-"]{ padding-top: 18rem; }

    h1.huge{ margin-top: 20px; }
    h1.huge:first-child{ margin-top: 0; }

    .num-line{ margin-right: 0; }
    .skill-line .num{ position: absolute; right: 0; top: -2px; }

    .clients-slider [class*="grid_"]{ margin-top: 3rem; }
    .clients-slider [class*="grid_"]:first-child{ margin-top: 0; }

    .equal > *{ display: block !important; }
    [class*="border-"]{ border: 0; }
    .filling.highlight{ padding-bottom: 2rem; }

    .portfolio-popup{ margin-left: -300px; width: 600px; }
    .portfolio-popup .container_12{ padding: 0; }
    .portfolio-popup h4{ margin-bottom: 0; }
    .portfolio-popup .container_12:last-child [class*="grid_"]{
        padding: 2rem 2rem 0;
        margin-bottom: 0;
    }

    .pricing .equal > *{ padding-bottom: 32px; }

    .scrolltop{ left: 50%; margin-left: -3.25rem; }

    .works-container .mix{ width: 50% !important; }

    #countdown > div:first-child{ margin-right: 25px; margin-left: 0; }
    #countdown span{ font-size: 80px; line-height: 80px; }
}

/* if WIDTH < 650px */

@media only screen and (max-width: 650px) {

    .container_12{padding-left:1rem; padding-right:1rem;}

    .portfolio{ width: 300px; margin: auto; padding: 0; }
    .portfolio .item.x2 { width: 300px; height: 200px; }

    .portfolio-popup{ margin-left: -160px; width: 320px; }
    .portfolio-popup .container_12:last-child [class*="grid_"]{
        padding: 1rem 2rem 0;
    }

    .scrolltop{ left: 50%; bottom: 4rem; margin-left: -3rem; }

    .works-container .mix{ width: 100% !important; }

    #countdown{ padding-top: 30px !important; }
    #countdown > div:first-child{ margin-right: 0; display: block; float: none; width: 100%; text-align: center; }
    #countdown > div:first-child *{ text-align: center; }

    #feedback-form input[type="email"]::-moz-placeholder{ font-size: 24px; line-height: 1; }
    #feedback-form input[type="email"]::-webkit-placeholder{ font-size: 24px; line-height: 1; }
    #feedback-form input[type="email"]{ font-size: 24px; line-height: 1; }
}

/* if WIDTH < 450px */

@media only screen and (max-width: 450px) {
    #countdown span{ font-size: 50px; line-height: 50px; }
}